@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;900&display=swap');

ul {
  margin-block-start:0; margin-block-end:0; margin-inline-start:0; margin-inline-end:0;
  padding-block-start:0; padding-block-end:0; padding-inline-start:0; padding-inline-end:0;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #1a1a1a;
  margin: 0;
}

header {
  background-color: #1a1a1a;
  color: #cacaca;
  padding: 24px 16px 8px;
}

footer {
  background-color: #1a1a1a;
  position:fixed;
  width:100%;
  bottom:0;
  color: #cacaca;
  padding: 8px 16px;
}

a {
  color: inherit;
}

#episode-list {
  list-style-type: none;
  border: #1a1a1a solid 6px;
  background-color: #ffcc00;
}

.episode {
  border-bottom: #1a1a1a solid 6px;
  margin:none;
  padding: 0px 16px;
}

.episode:last-child {
  border-bottom: none;
}
